@{
    //Layout = null;
}


@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { @id = "upload", enctype = "multipart/form-data" }))
{
    <div id="drop">
      Drag'n drop here

        <a>Or clik to choose</a>
        <input type="file" name="upl" multiple="">
    </div>
    <ul>
        <!-- The file uploads will be shown here -->
    </ul>
}



